

.neon-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 3rem;
  border-radius: 10px;
  background-color: #00ffff;
  text-decoration: none;
  animation: neon-loader 1s infinite alternate;
}

.neon-loader:hover{
  background-color: #00ffff !important;
  animation-play-state: paused;
  box-shadow: 0 0 10px #00ffff,
              0 0 30px #00ffff,
              0 0 60px #00ffff;
}

span{
  font-size: 2em;
  color: #000;
}

@keyframes neon-loader {
  from {
    background-color: #00ffff;
  }
  to {
    background-color: #ff00ff;
  }
}